:root {
	--desktopProportions: 100vw / 1920;
	--primaryColor: rgb(215, 149, 234);
	--accentColor1:  rgb(247, 84, 146);
	--accentcolor2: #4fb15f;
	--darkGray: #151d28;
	--pinkyGray: hsl(210, 33%, 99%);
	--textColor: #f9fbff;
	;
  }
  
  @keyframes slideFromLeft {
	0% {
	  transform: translateX(calc(-70 * var(--desktopProportions)));
	  opacity: 0;
	}
	100% {
	  transform: translateX(0px);
	  opacity: 1;
	}
  }
  
  @keyframes slideFromRight {
	0% {
	  transform: translateX(calc(70 * var(--desktopProportions)));
	  opacity: 0;
	}
	100% {
	  transform: translateX(0px);
	  opacity: 1;
	}
  }
  * {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	font-size: calc(20 * var(--desktopProportions));
	color: var(--primaryColor);
	text-align: center;
	transition: 800ms ease;
  }
  .container {
	max-width: 60%;
	display: block;
	margin: auto;
  }
  
  .pretitle {
	font-weight: 500;
	font-size: calc(30 * var(--desktopProportions));
  }
  
  
  .title {
	font-family: Montserrat;
	font-size: calc(40 * var(--desktopProportions));
	text-transform: uppercase;
	margin-bottom: calc(60 * var(--desktopProportions));
  }
  
  .title::after {
	content: "";
	background-color: var(--accentColor1);
	height: calc(3 * var(--desktopProportions));
	display: block;
	margin: auto;
	margin-top: calc(10 * var(--desktopProportions));
	opacity: 0;
	width: 0;
  }
  
  .title:hover::after {
	opacity: 5;
	width: 30%;
  }
  
  .product-name {
	font-weight: 600;
	font-size: calc(30 * var(--desktopProportions));
	color: rgb(198, 63, 216);
  }
  .product-desc {
	font-weight: 300;
	color: rgb(78, 72, 165);
  }
  
  .button {
	padding: calc(8 * var(--desktopProportions))
	  calc(15 * var(--desktopProportions));
	font-weight: 700;
	font-size: calc(18 * var(--desktopProportions));
	color: var(--darkGray);
	text-transform: uppercase;
	background-color: transparent;
	cursor: pointer;
	border-radius: calc(28 * var(--desktopProportions));
  }
  
  .button:hover{
	background-color: rgb(67, 209, 231);
	
  }
  
  .button-accent {
	background-color: var(--accentColor1);
	color: var(--textColor);
  }
  
  body {
	background-color: var(--textColor);
  }
  
  header {
	width: 100%;
	height: calc(700 * var(--desktopProportions));
	position: relative;
	display: flex;
	justify-content: space-between;
  }
  
  .header-gui {
	position: absolute;
	left: calc(100 * var(--desktopProportions));
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	animation: normal slideFromLeft 1s ease;
  }
  .header-gui-title {
	z-index: 90;
	text-align: left;
  }
  
  .header-gui-title-item {
	text-transform: uppercase;
	font-size: calc(60 * var(--desktopProportions));
	font-family: Montserrat;
  }
  
  .accent-header-title-word {
	color: var(--textColor);
	background-color: var(--accentColor1);
	display: block;
	padding: calc(10 * var(--desktopProportions));
  }
  
  .header-blocks {
	width: 70%;
	display: flex;
	height: 90%;
  }
  
  .header-img {
	width: 70%;
	height: 100%;
  }
  
  .header-nav {
	background-color: var(--primaryColor);
	width: 50%;
	padding-top: calc(120 * var(--desktopProportions));
	padding-bottom: calc(170 * var(--desktopProportions));
	animation: normal slideFromRight 1s ease;
  }
  
  
  
  .header-nav-list {
  }
  
  .header-nav-list-item {
	text-align: left;
  }
  
  .header-nav-list-item:not(:last-child) {
	margin-bottom: calc(40 * var(--desktopProportions));
  }
  
  .header-nav-list-item-link {
	font-style: normal;
	font-weight: 300;
	font-size: calc(30 * var(--desktopProportions));
	color: var(--pinkyGray);
	text-transform: uppercase;
  }
  
  .section1 {
	padding-top: calc(70 * var(--desktopProportions));
	padding-bottom: calc(70 * var(--desktopProportions));
	animation: normal slideFromRight 1s ease;
  }
  
  .section1-pretitle {
  }
  
  .section1-title {
  }
  
  .section1-list {
	display: flex;
  }
  
  .section1-list-item {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .section1-list-item-icon {
	width: calc(90 * var(--desktopProportions));
	height: auto;
  }
  
  .section1-list-item-info-title,
  .section1-list-item-info-desc {
	text-align: center;
  }
  
  .section1-list-item-info-title {
	font-weight: 700;
	font-size: calc(30 * var(--desktopProportions));
	margin-bottom: calc(8 * var(--desktopProportions));
  }
  
  .section1-list-item-info-desc {
	font-weight: 300;
	font-size: calc(20 * var(--desktopProportions));
	line-height: calc(25 * var(--desktopProportions));
  }
  .section2 {
	min-height: calc(1000 * var(--desktopProportions));
	max-width: 100%;
	position: relative;
	padding-top: calc(150 * var(--desktopProportions));
	animation: normal slideFromLeft 1s ease;
  }
  
  
  .section2-slider {
	margin-top: calc(80 * var(--desktopProportions));
  }
  
  .section2-slider .wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;
  }
  
  .section2-slider-gradient {
	left: 0;
	bottom: 50%;
	height: 100%;
  }
  
  .section2-slider-gradient {
	z-index: 98;
	background: linear-gradient(
	  90deg,
	  rgba(199, 28, 28, 0) 0%,
	  var(--textColor) 100%
	);
	width: 25%;
  }
  
  .section2-slider-gradientstart {
	opacity: 0;
	background: linear-gradient(
	  270deg,
	  rgba(199, 28, 28, 0) 0%,
	  var(--textColor) 100%
	);
  }
  
  .section2-slider-gradientend {
	right: 0;
	left: auto;
  }
  
  .section2-slider-canvas {
	width: calc(4000 * var(--desktopProportions));
	background: linear-gradient(
	  90deg,
	  var(--primaryColor) 10%,
	  var(--textColor) 10%,
	  var(--textColor) 90%,
	  var(--primaryColor) 90%
	);
	padding: calc(100 * var(--desktopProportions)) 0;
	position: relative;
  }
  
  
  .section2-slider-arrows-item {
	background-color: var(--accentColor1);
	z-index: 99;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: calc(15 * var(--desktopProportions))
	  calc(15 * var(--desktopProportions));
	border-radius: 50%;
	width: calc(40 * var(--desktopProportions));
	height: calc(40 * var(--desktopProportions));
	opacity: 1;
	cursor: pointer;
  }
  
  
  
  .section2-slider-arrows-left {
	left: calc(80 * var(--desktopProportions));
	opacity: 0;
	display: none;
  }
  
  .section2-slider-arrows-right {
	right: calc(80 * var(--desktopProportions));
  }
  
  
  .section2-slider-canvas-list {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-25 * var(--desktopProportions));
	margin-left: calc(150 * var(--desktopProportions));
	position: relative;
  }
  
  .section2-slider-canvas-list-item {
	width: calc(600 * var(--desktopProportions));
	display: flex;
	justify-content: space-between;
	margin: calc(25 * var(--desktopProportions));
  }
  
  .section2-slider-canvas-list-item-img {
	width: calc(260 * var(--desktopProportions));
	height: calc(260 * var(--desktopProportions));
	background-color: var(--pinkyGray);
  }
  
  .section2-slider-canvas-list-item-info {
	background-color: var(--textColor);
	padding: calc(30 * var(--desktopProportions)) 0
	  calc(30 * var(--desktopProportions));
	width: calc(340 * var(--desktopProportions));
  }
  
  .section2-slider-canvas-list-item-info .container * {
	text-align: left;
	margin: 0;
  }
  
  .section2-slider-canvas-list-item-info-price {
	margin-bottom: calc(8 * var(--desktopProportions)) !important;
  }
  
  .section2-slider-canvas-list-item-info-name {
	margin-bottom: calc(20 * var(--desktopProportions)) !important;
  }
  .section2-slider-canvas-list-item-info-desc {
	margin-bottom: calc(25 * var(--desktopProportions)) !important;
  }
  
  footer {
	background-color: var(--pinkyGray);
	padding: calc(20 * var(--desktopProportions)) 0;
  }
  
  .footer-sign {
	font-weight: 300;
	font-style: italic;
	font-size: calc(20 * var(--desktopProportions));
	margin: 0;
  }